@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dana Font Family */

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-UltraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-DemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Dana", sans-serif;
}
